.col-md-5
  %h4 Send a message to us:
  .form-group
    = simple_form_for :message, url: send_email_path do |f|
      = f.input :name
      = f.input :email, as: :email
      = f.input :text, as: :text, input_html: {rows: "5"}
      = f.submit 'Send message'