- if user_signed_in?
  - if product.available
    = simple_form_for order, url: product_orders_path(product), html: {class: "form-inline"} do |f|
      = f.input :start_date, as: :string, label: false, placeholder: "Start Date"
      = f.input :end_date, as: :string, label: false, placeholder: "End Date"
      = f.submit "Book this car"
  - else
    %p#booked= product.orders.first.try(:user) == current_user ? "Your car is wating for you" : "The car is booked from #{product.orders.first.try(:start_date)} to #{product.orders.first.try(:end_date)}"
%br