= simple_form_for order, url: product_orders_path(product), html: {class: "form-inline", autocomplete: "off"} do |f|
  = f.input :start_date, as: :string, label: false, placeholder: "Start Date"
  = f.input :end_date, as: :string, label: false, placeholder: "End Date"
  = f.submit "Book this car"

= orders_for product