.col-md-5
  %h4 New product:
  .form-group
    = simple_form_for @product do |f|
      = f.input :title
      = f.input :description, input_html: {rows: "5"}
      = f.association :category, prompt: "Choose a category"
      = f.submit "Add product"
