.col-md-8
  %h4= @product.title
  - if @product.image.exists?
    = image_tag @product.image.url(:preview), class: "img-thumbnail img-responsive wrap-text"
  %p= @product.description

  = render partial: 'orders/order', locals: {product: @product, order: @order}

  - if user_signed_in? && current_user.is_admin
    = link_to "Edit", edit_product_path(@product), class: "btn btn-default btn-xs"
    = link_to "Delete", @product, method: :delete, data: {confirm: "Are you sure?"}, title: "Delete product", class: "btn btn-danger btn-xs"
  .row
    .col-md-12
      =render partial: 'reviews/add_review', locals: {review: @review, product: @product}
      
      %hr
      %h4= "Feedbacks"
      = render partial: 'reviews/reviews', locals: {reviews: @product.reviews.includes(:user)}
