<!DOCTYPE html>
<html>
<head>
  <title>Auto Park</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <a href="/" class="nodecoration"><h1 class="title">AUTO PARK</h1></a>
      <p class="credo">rent a car of your dream</p>
    </div>

    <div class="col-md-7 sign-in">
      <% if user_signed_in? %>
        <span>Hello, <%= current_user.email %></span>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      <% else %>
        <span id="signin" data-toggle="modal" data-target="#signIn">Sign In</span> or 
        <span id="signup" data-toggle="modal" data-target="#signUp">Sign Up</span>
      <% end %>
    </div>
    <div class="col-md-2 form-group search">
      <%= simple_form_for :q, url: search_path, method: :get do |f| %>
        <%= f.input :search, label: false, required: false, placeholder: "Car Search" %>
        <%= f.submit "", name: nil, style: "display: none" %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'devise/sessions/new' %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'devise/registrations/new' %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="flash_messages"><%= flash_messages %></div>
  <div class="row">
    <div class="col-md-3">
      <table class="table table-condensed">
        <tr><td class="no-line large"><%= link_to "All products", products_path %></td></tr>
        <% Category.all.each do |category| %>
          <tr>
            <td class="no-line large"><%= link_to category.name, category %></td>
            <% if user_signed_in? && current_user.is_admin %>
              <td class="col-md-5 no-line"><%= link_to "Edit", edit_category_path(category), class: "btn btn-default btn-xs" %>
              <%= link_to "Delete", category, method: :delete, data: {confirm: "Are you sure?"}, title: "Delete category", class: "btn btn-danger btn-xs" %></td>
            <% end %>
          </tr>
          <% end %>
        <tr><td class="no-line large"><%= link_to "Contact us", contact_us_path %></td></tr>
        <tr><td class="no-line large"><%= link_to "API", '/api/docs/' %></td></tr>
      </table>
      <% if user_signed_in? && current_user.is_admin %>
        <p><%= link_to "Add category", new_category_path, class: "btn btn-primary btn-small" %></p>
      <% end %>
    </div>

    <%= yield %>

  </div>
  <footer class="footer">
    <p>© 2015 The Auto Park Corporation - All Rights Reserved</p>
  </footer>
</div>

</body>
</html>
